html {
  height: 100%;
}

body {
  min-width: 20em;
}

main {
  text-align: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background-image: linear-gradient(to bottom, #f7f7f7, #e7e7e7);
  width: 10em;
  height: 10em;
  margin: 3em;
  position: relative;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 3px 8px #aaa, inset 0 2px 3px #fff;
  border: solid 1px transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

button::before {
  content: '';
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  width: 12.5em;
  height: 12.5em;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0 8px 48px #ddd;
}

button:active {
  box-shadow: none;
  border: solid 1px #a7a7a7;
}

button:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}

@supports (display:grid) {
  .buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    gap: 1em;
    justify-items: center;
  }
}
